body{
    background-color: #D8DFE8;
    font-family: 'Inter', sans-serif;
}

input, p, textarea{
    font-family: 'Inter', sans-serif;
}

header img{
    margin: 40px 0 0 40px;
    position: absolute;
}

main{
    width: 1200px;
    height: 700px;
    margin: auto;
    padding-top: 40px;
    display: flex;
}

.izquierda{
    width:70%;
}

.interface{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 80px;
    height: 100%;
}

.interface p{
    margin: 10px 0;
}

.text-input{
    margin-top: 80px;
    height: 74%;
    font-size: 40px;
    background-color: #D8DFE8;
    border: none;
    resize: none;
    color: darkblue;
}

.text-input::placeholder{
    opacity: 1;
}

.text-input:focus{
    outline:none;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

input[type="submit"]:hover{
    cursor:pointer;
    scale: 1.02;
}

.bottom input{
    height: 66px;
    width: 340px;
    border-radius: 24px;
}

.boton-encriptar{
    color: white;
    background-color: darkblue;
    font-size: 16px;
    border: darkblue;
}

.boton-desencriptar, .button-copy{
    color: darkblue;
    background-color: rgba(0,0,0,0);
    border-color: darkblue;
    font-size: 16px;
}



.derecha{
    width: 30%;
}

.card{
    background-color: white;
    width: 400px;
    height: 100%;
    margin: auto;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    color: rgb(118, 118, 118);
}

.muneco{
    padding-top: 192px;
}

@keyframes jump {
    from {
        transform : scale(1);
    }
    50% {
        transform : scale(0.95);
    }
    to {
        transform : scale(1);
    }
}

.no-text p{
    text-align: center;
    padding-top: 40px;
    width: 336px;
    animation: jump 1s infinite;
}

.titulo{
    font-size: 24px;
    font-weight: bolder;
}

.descripcion{
    font-size: 16;
}

.yes-text{
    height: 100%;
}

.encrypted{
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.button-copy{
    margin: 0 32px 22px 32px;
    height: 66px;
    border-radius: 24px;
}

.encrypted-text{
    margin: 30px;
    color: darkblue;
    font-size: 22px;
    overflow: scroll;
    height: 80%;
}

.no-render{
    display: none;
}

/* IPAD DISPLAY SIZE */

@media (max-width: 1300px) {
    main{
        flex-direction: column;
        height: auto;
        width: 768px;
    }

    .izquierda{
        width: auto;
        height: 900px;
    }

    .muneco{
        display: none;
    }

    .interface{
        margin: 0 30px;
    }

    .derecha{
        height: auto;
        width: auto;
    }
    
    .card{
        width: auto;
        margin: 0 30px 30px 30px;
    }

    .no-text p{
        width: auto;
        padding: 20px 0;
    }

    .encrypted-text{
        height: 350px;
    }
    
}


